body{
  background-image: url("/assets/images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  opacity: 0.9;

}
.row{
  display: flex;
  flex-direction: column;
}
.row img{
  width: 100%;
  position: relative;
}
.col-md-6{
  margin-top: 200px;
  margin-left: 300px;
  color: #ffff;
}
.col-md-6 h2{
  margin: 20px;
}
.col-md-6 h4{
  margin: 20px;
}
.col-md-6 button{
  margin: 20px;
}
.col-md-6 button:hover{
  background-color: brown;
  color: #ffffff;
}
.para{
  font-size: 24px;
  margin-left: 10px;
  color: #fff;
}